In [48]:
import numpy as np
import pandas as pd

gender = ['male','female']
ages = ['less than 25','25-49', '50+']
incomes = ['less than 50K', '51k to 100k', '100k+']

In [3]:
#going to be 3 by (2 X 3 X 3)
#18 rows and three columns
results = np.

SyntaxError: invalid syntax (<ipython-input-3-e653d5a78909>, line 3)

In [51]:
results = np.zeros((18,3))

In [52]:
profiles =pd.DataFrame(results)

In [49]:
#create list of lists, each list of three with all combinations of profiles
list_profiles = []
for gender in gender:
    for age in ages:
        for income in incomes:
            a = [gender,age,income]
            list_profiles.append(a)

In [60]:
list_profiles[0][0]

'male'

In [65]:
#traverse rows and for each column input demographic
for i in range(18):
    profiles.iloc[i,:][0] = list_profiles[i][0]
    profiles.iloc[i,:][1] = list_profiles[i][1]
    profiles.iloc[i,:][2] = list_profiles[i][2]

In [82]:
pd.DataFrame(np.array(list_profiles))

         0             1              2
0     male  less than 25  less than 50K
1     male  less than 25    51k to 100k
2     male  less than 25          100k+
3     male         25-49  less than 50K
4     male         25-49    51k to 100k
5     male         25-49          100k+
6     male           50+  less than 50K
7     male           50+    51k to 100k
8     male           50+          100k+
9   female  less than 25  less than 50K
10  female  less than 25    51k to 100k
11  female  less than 25          100k+
12  female         25-49  less than 50K
13  female         25-49    51k to 100k
14  female         25-49          100k+
15  female           50+  less than 50K
16  female           50+    51k to 100k
17  female           50+          100k+

In [74]:
profiles.iloc[4,:][0] = 366

In [76]:
profiles.astype(str)

        0    1    2
0     0.0  0.0  0.0
1     0.0  0.0  0.0
2     0.0  0.0  0.0
3     0.0  0.0  0.0
4   366.0  0.0  0.0
5     0.0  0.0  0.0
6     0.0  0.0  0.0
7     0.0  0.0  0.0
8     0.0  0.0  0.0
9     0.0  0.0  0.0
10    0.0  0.0  0.0
11    0.0  0.0  0.0
12    0.0  0.0  0.0
13    0.0  0.0  0.0
14    0.0  0.0  0.0
15    0.0  0.0  0.0
16    0.0  0.0  0.0
17    0.0  0.0  0.0

In [78]:
profiles.apply(str)

0    0       0.0\n1       0.0\n2       0.0\n3      ...
1    0     0.0\n1     0.0\n2     0.0\n3     0.0\n4 ...
2    0     0.0\n1     0.0\n2     0.0\n3     0.0\n4 ...
dtype: object

In [80]:
profiles.dtypes

0    float64
1    float64
2    float64
dtype: object