In [51]:
import pandas as pd
import numpy as np

In [52]:
a = '01430,03071,01431,01420,03048,01474,01462,01469,03033,01464,01472,01434,01463,03049,01450,01470,01471,01432,03063,01827,03062,01460,03064,03061,03060,01886,01879,03051,01863,01824,01854,01851,03076,01853,01826,01850,03087,01852,01862,01876,03079,03073,01844,05501,03841,01810,01842,01841,01843,03811,01840,01812,01899,01832,03826,03865,01845,01835,01831,03859,01885,03848,01830,03858,01921,01860,01834,01833,01985,01913,01983,01922,01969,01950,03874,01952,01951'

In [53]:
zip_codes = []
for b in [b for b in a.split(',')]:
    zip_codes.append(b)

In [54]:
zip_codes = pd.DataFrame(zip_codes,columns=["Zip_Codes"])

In [55]:
zip_codes.to_csv('zips.csv')

In [56]:
zip_codes['Destination_Airport'] = np.repeat('MHT',repeats=len(zip_codes))

In [57]:
zip_codes['Zip_Codes'][0]

'01430'

In [8]:
from bs4 import BeautifulSoup
from selenium.webdriver.common.action_chains import ActionChains
from selenium import webdriver
import datetime
from tinydb import TinyDB, Query
import urllib3
import xlsxwriter
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import Select

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
from selenium.webdriver.common.keys import Keys

In [42]:
driver = webdriver.Chrome(ChromeDriverManager().install())
#lets try uber first
uber = 'https://www.uber.com/us/en/price-estimate/'
#get the website
driver.get(uber)

uber_X_prices = []
uber_ski_prices = []
uber_XL_prices = []

#find element id
for i in range(0,len(zip_codes)):
    driver.implicitly_wait(4)
    starting = driver.find_element_by_name('pickup')
    time.sleep(1)
    starting.clear()
    starting.send_keys(zip_codes["Zip_Codes"][i])
    time.sleep(1)
    starting.send_keys(Keys.ENTER)

    starting = driver.find_element_by_name('destination')
    time.sleep(1)
    starting.clear()
    starting.send_keys('Manchester-Boston Regional Airport, 1 Airport Rd, Manchester, NH')
    time.sleep(1)
    starting.send_keys(Keys.RETURN)
    time.sleep(1)

    #pull values from website
    try:
        element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[1]/div[1]/div/span')
        uber_X_prices.append(element.text)
    except:
        #print('Uber X: ', element.text)
        uber_X_prices.append(np.nan)
    try:        
        element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[2]/div[1]/div/span')
        #print('Uber Ski: ', element.text)
        uber_ski_prices.append(element.text)
    except:
        #print('Uber X: ', element.text)
        uber_ski_prices.append(np.nan)
    try:
        element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[3]/div[1]/div/span')
        #print('Uber XL: ', element.text)
        uber_XL_prices.append(element.text)
    except:
        uber_XL_prices.append(np.nan)

Looking for [chromedriver 79.0.3945.36 mac64] driver in cache
File found in cache by path [/Users/janmichaelaustria/.wdm/drivers/chromedriver/79.0.3945.36/mac64/chromedriver]

In [44]:
len(uber_ski_prices)

77

In [58]:
#add to zips
zip_codes['Uber_X_Evening'] = uber_X_prices
zip_codes['Uber_XL_Evening'] = uber_XL_prices
zip_codes['Uber_Ski_Evening'] = uber_ski_prices

In [59]:
zip_codes.to_csv('zips.csv')

In [69]:
zips_MHT = pd.read_csv('zips_MHT.csv')
zips_MHT['Zip_Codes']

0     1430
1     3071
2     1431
3     1420
4     3048
5     1474
6     1462
7     1469
8     3033
9     1464
10    1472
11    1434
12    1463
13    3049
14    1450
15    1470
16    1471
17    1432
18    3063
19    1827
20    3062
21    1460
22    3064
23    3061
24    3060
25    1886
26    1879
27    3051
28    1863
29    1824
      ...
47    1841
48    1843
49    3811
50    1840
51    1812
52    1899
53    1832
54    3826
55    3865
56    1845
57    1835
58    1831
59    3859
60    1885
61    3848
62    1830
63    3858
64    1921
65    1860
66    1834
67    1833
68    1985
69    1913
70    1983
71    1922
72    1969
73    1950
74    3874
75    1952
76    1951
Name: Zip_Codes, Length: 77, dtype: int64

## Now replace with Boston Logan

In [63]:
zip_codes = []
for b in [b for b in a.split(',')]:
    zip_codes.append(b)
zip_codes_BOS = pd.DataFrame(zip_codes,columns=["Zip_Codes"])
zip_codes_BOS['Destination_Airport'] = np.repeat('BOS',repeats=len(zip_codes))
zip_codes_BOS.to_csv('zips_to_BOS.csv')

In [65]:
zip_codes_BOS.shape

(77, 2)

In [71]:
driver = webdriver.Chrome(ChromeDriverManager().install())
#lets try uber first
uber = 'https://www.uber.com/us/en/price-estimate/'
#get the website
driver.get(uber)

uber_X_prices = []
uber_ski_prices = []
uber_XL_prices = []

#find element id
for i in range(0,len(zip_codes)):
    driver.implicitly_wait(4)
    starting = driver.find_element_by_name('pickup')
    time.sleep(1)
    starting.clear()
    starting.send_keys(zip_codes_BOS["Zip_Codes"][i])
    time.sleep(1)
    starting.send_keys(Keys.ENTER)

    starting = driver.find_element_by_name('destination')
    time.sleep(1)
    starting.clear()
    starting.send_keys('Boston Logan International Airport, 1 Harborside Dr, Boston, MA')
    time.sleep(1)
    starting.send_keys(Keys.RETURN)
    time.sleep(1)

    #pull values from website
    try:
        element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[1]/div[1]/div/span')
        uber_X_prices.append(element.text)
    except:
        #print('Uber X: ', element.text)
        uber_X_prices.append(np.nan)
    try:        
        element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[2]/div[1]/div/span')
        #print('Uber Ski: ', element.text)
        uber_ski_prices.append(element.text)
    except:
        #print('Uber X: ', element.text)
        uber_ski_prices.append(np.nan)
    try:
        element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[3]/div[1]/div/span')
        #print('Uber XL: ', element.text)
        uber_XL_prices.append(element.text)
    except:
        uber_XL_prices.append(np.nan)

Looking for [chromedriver 79.0.3945.36 mac64] driver in cache
File found in cache by path [/Users/janmichaelaustria/.wdm/drivers/chromedriver/79.0.3945.36/mac64/chromedriver]

In [72]:
uber_X_prices

['$88.56',
 '$104.57',
 '$89.93',
 '$77.42',
 '$77.42',
 '$84.17',
 '$72.38',
 '$78.56',
 '$95.65',
 '$70.47',
 '$71.66',
 '$63.66',
 '$69.71',
 '$81.85',
 '$65.21',
 '$67.53',
 '$69.31',
 '$66.52',
 '$79.83',
 '$63.14',
 '$75.78',
 '$49.70',
 '$81.33',
 '$76.50',
 '$74.69',
 '$62.39',
 '$53.47',
 '$76.14',
 '$54.65',
 '$44.20',
 '$55.07',
 '$46.04',
 '$62.42',
 '$46.01',
 '$43.88',
 '$45.12',
 '$67.88',
 '$44.98',
 '$44.16',
 '$39.88',
 '$61.16',
 '$69.71',
 '$39.03',
 '$40.36',
 '$75.69',
 '$39.25',
 '$43.93',
 '$44.72',
 '$41.28',
 '$71.87',
 '$47.37',
 '$40.77',
 '$40.77',
 '$51.12',
 '$75.06',
 '$69.62',
 '$43.90',
 '$53.36',
 '$51.59',
 '$74.61',
 '$38.63',
 '$78.16',
 '$54.80',
 '$76.02',
 '$36.71',
 '$61.01',
 '$42.19',
 '$36.44',
 '$47.42',
 '$50.21',
 '$30.64',
 '$42.22',
 '$41.87',
 '$46.58',
 '$68.67',
 '$49.88',
 '$49.29']

In [73]:
#add to zips_BOS
zip_codes_BOS['Uber_X_Evening'] = uber_X_prices
zip_codes_BOS['Uber_XL_Evening'] = uber_XL_prices
zip_codes_BOS['Uber_Ski_Evening'] = uber_ski_prices

In [74]:
zip_codes_BOS

,Zip_Codes,Destination_Airport,Uber_X_Evening,Uber_XL_Evening,Uber_Ski_Evening
0,01430,BOS,$88.56,$103.40,$98.56
1,03071,BOS,$104.57,$164.71,$114.57
2,01431,BOS,$89.93,$104.66,$94.66
3,01420,BOS,$77.42,$90.16,$87.42
4,03048,BOS,$77.42,$90.16,$87.42
5,01474,BOS,$84.17,$98.60,$88.60
6,01462,BOS,$72.38,$84.36,$82.38
7,01469,BOS,$78.56,$92.69,$82.69
8,03033,BOS,$95.65,$149.88,$105.65
9,01464,BOS,$70.47,$84.18,$74.18
10,01472,BOS,$71.66,$85.43,$75.43
11,01434,BOS,$63.66,$74.02,$73.66
12,01463,BOS,$69.71,$83.38,$73.38
13,03049,BOS,$81.85,$127.53,$91.85
14,01450,BOS,$65.21,$78.64,$68.64
15,01470,BOS,$67.53,$81.08,$71.08
16,01471,BOS,$69.31,$82.96,$72.96
17,01432,BOS,$66.52,$80.02,$70.02
18,03063,BOS,$79.83,$124.05,$89.83
19,01827,BOS,$63.14,$76.46,$66.46
20,03062,BOS,$75.78,$117.52,$85.78
21,01460,BOS,$49.70,$67.21,$52.32
22,03064,BOS,$81.33,$126.51,$91.33
23,03061,BOS,$76.50,$118.69,$86.50
24,03060,BOS,$74.69,$115.71,$84.69
25,01886,BOS,$62.39,$72.39,$67.80
26,01879,BOS,$53.47,$71.23,$61.45
27,03051,BOS,$76.14,$118.08,$86.14
28,01863,BOS,$54.65,$66.76,$57.53
29,01824,BOS,$44.20,$56.53,$46.53
...,...,...,...,...,...
47,01841,BOS,$44.72,$57.07,$47.07
48,01843,BOS,$41.28,$53.45,$43.45
49,03811,BOS,$71.87,$111.17,$81.87
50,01840,BOS,$47.37,$56.08,$49.86
51,01812,BOS,$40.77,$52.92,$42.92
52,01899,BOS,$40.77,$52.92,$42.92
53,01832,BOS,$51.12,$63.81,$53.81
54,03826,BOS,$75.06,$116.39,$85.06
55,03865,BOS,$69.62,$107.55,$79.62
56,01845,BOS,$43.90,$56.21,$46.21
57,01835,BOS,$53.36,$66.17,$56.17
58,01831,BOS,$51.59,$64.31,$54.31
59,03859,BOS,$74.61,$115.66,$84.61
60,01885,BOS,$38.63,$54.56,$40.66
61,03848,BOS,$78.16,$121.49,$88.16
62,01830,BOS,$54.80,$67.68,$57.68
63,03858,BOS,$76.02,$117.90,$86.02
64,01921,BOS,$36.71,$48.64,$38.64
65,01860,BOS,$61.01,$73.03,$68.50
66,01834,BOS,$42.19,$54.41,$44.41
67,01833,BOS,$36.44,$52.01,$38.36
68,01985,BOS,$47.42,$59.92,$49.92
69,01913,BOS,$50.21,$62.85,$52.85
70,01983,BOS,$30.64,$42.25,$32.25
71,01922,BOS,$42.22,$54.16,$48.02
72,01969,BOS,$41.87,$54.07,$44.07
73,01950,BOS,$46.58,$59.03,$49.03
74,03874,BOS,$68.67,$107.74,$78.67
75,01952,BOS,$49.88,$62.50,$52.50
76,01951,BOS,$49.29,$61.88,$51.88

## Repeat for Morning
* update to include both airpots on each pass

In [90]:
driver = webdriver.Chrome(ChromeDriverManager().install())
#lets try uber first
uber = 'https://www.uber.com/us/en/price-estimate/'
#get the website
driver.get(uber)

airports = ['Manchester-Boston Regional Airport, 1 Airport Rd, Manchester, NH',
           'Boston Logan International Airport, 1 Harborside Dr, Boston, MA']

#these are lists of lists len3
MHT = []
BOS = []
airport_price_lists = [MHT,BOS]

uber_X_prices = []
uber_ski_prices = []
uber_XL_prices = []

#pass over both aiports
for h in range(0, len(airports)):
    #find element id
    for i in range(0,len(zip_codes)):
        driver.implicitly_wait(4)
        starting = driver.find_element_by_name('pickup')
        time.sleep(1)
        starting.clear()
        starting.send_keys(zip_codes_BOS["Zip_Codes"][i])
        time.sleep(1)
        starting.send_keys(Keys.ENTER)

        starting = driver.find_element_by_name('destination')
        time.sleep(1)
        starting.clear()
        starting.send_keys(airports[h])
        time.sleep(1)
        starting.send_keys(Keys.RETURN)
        time.sleep(1)

        #pull values from website
        try:
            element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[1]/div[1]/div/span')
            uber_X_prices.append(element.text)
        except:
            #print('Uber X: ', element.text)
            uber_X_prices.append(np.nan)
        try:        
            element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[2]/div[1]/div/span')
            #print('Uber Ski: ', element.text)
            uber_ski_prices.append(element.text)
        except:
            #print('Uber X: ', element.text)
            uber_ski_prices.append(np.nan)
        try:
            element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[3]/div[1]/div/span')
            #print('Uber XL: ', element.text)
            uber_XL_prices.append(element.text)
        except:
            uber_XL_prices.append(np.nan)
    #dump into right lists
    airport_price_lists[h].append(uber_X_prices)
    airport_price_lists[h].append(uber_XL_prices)
    airport_price_lists[h].append(uber_ski_prices)
    
    #reassign ubers_lists
    uber_X_prices = []
    uber_ski_prices = []
    uber_XL_prices = []

Looking for [chromedriver 79.0.3945.36 mac64] driver in cache
File found in cache by path [/Users/janmichaelaustria/.wdm/drivers/chromedriver/79.0.3945.36/mac64/chromedriver]

In [102]:
#put back in the right frames, start with MHT
uber_col_names = ['Uber_X_Morning','Uber_XL_Morning','Uber_Ski_Morning']
for i in range(0,len(airport_price_lists[0])):
   #add to dataframe
    zips_MHT[uber_col_names[i]] = airport_price_lists[0][i]

In [103]:
zips_MHT.head()

,Unnamed: 0,Zip_Codes,Destination_Airport,Uber_X_Evening,Uber_XL_Evening,Uber_Ski_Evening,Uber_X_Morning,Uber_XL_Morning,Uber_Ski_Morning
0,0,1430,MHT,$56.16,$66.86,$66.16,$55.91,$66.48,$65.91
1,1,3071,MHT,$61.61,$98.63,$71.61,$61.75,$98.97,$71.75
2,2,1431,MHT,$52.49,$65.25,$55.25,$52.15,$64.90,$54.90
3,3,1420,MHT,$51.67,$61.67,$61.33,$51.97,$61.97,$61.75
4,4,3048,MHT,$47.13,$75.15,$57.13,$47.92,$76.41,$57.92

In [106]:
#now put back into BOS
uber_col_names = ['Uber_X_Morning','Uber_XL_Morning','Uber_Ski_Morning']
for i in range(0,len(airport_price_lists[1])):
   #add to dataframe
    zip_codes_BOS[uber_col_names[i]] = airport_price_lists[1][i]

In [107]:
zip_codes_BOS.head()

,Zip_Codes,Destination_Airport,Uber_X_Evening,Uber_XL_Evening,Uber_Ski_Evening,Uber_X_Morning,Uber_XL_Morning,Uber_Ski_Morning
0,01430,BOS,$88.56,$103.40,$98.56,$94.73,$110.25,$104.73
1,03071,BOS,$104.57,$164.71,$114.57,$104.70,$164.94,$114.70
2,01431,BOS,$89.93,$104.66,$94.66,$87.97,$102.60,$92.60
3,01420,BOS,$77.42,$90.16,$87.42,NaN,NaN,NaN
4,03048,BOS,$77.42,$90.16,$87.42,$95.45,$149.78,$105.45

In [109]:
#save files
zips_MHT.to_csv('zips_MHT.csv')
zip_codes_BOS.to_csv('zips_to_BOS.csv')

# One more pass for afternoon times

In [110]:
driver = webdriver.Chrome(ChromeDriverManager().install())
#lets try uber first
uber = 'https://www.uber.com/us/en/price-estimate/'
#get the website
driver.get(uber)

airports = ['Manchester-Boston Regional Airport, 1 Airport Rd, Manchester, NH',
           'Boston Logan International Airport, 1 Harborside Dr, Boston, MA']

#these are lists of lists len3
MHT = []
BOS = []
airport_price_lists = [MHT,BOS]

uber_X_prices = []
uber_ski_prices = []
uber_XL_prices = []

#pass over both aiports
for h in range(0, len(airports)):
    #find element id
    for i in range(0,len(zip_codes)):
        driver.implicitly_wait(4)
        starting = driver.find_element_by_name('pickup')
        time.sleep(1)
        starting.clear()
        starting.send_keys(zip_codes_BOS["Zip_Codes"][i])
        time.sleep(1)
        starting.send_keys(Keys.ENTER)

        starting = driver.find_element_by_name('destination')
        time.sleep(1)
        starting.clear()
        starting.send_keys(airports[h])
        time.sleep(1)
        starting.send_keys(Keys.RETURN)
        time.sleep(1)

        #pull values from website
        try:
            element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[1]/div[1]/div/span')
            uber_X_prices.append(element.text)
        except:
            #print('Uber X: ', element.text)
            uber_X_prices.append(np.nan)
        try:        
            element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[2]/div[1]/div/span')
            #print('Uber Ski: ', element.text)
            uber_ski_prices.append(element.text)
        except:
            #print('Uber X: ', element.text)
            uber_ski_prices.append(np.nan)
        try:
            element = driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div/div/div[1]/div[2]/div[1]/div[3]/div[1]/div/span')
            #print('Uber XL: ', element.text)
            uber_XL_prices.append(element.text)
        except:
            uber_XL_prices.append(np.nan)
    #dump into right lists
    airport_price_lists[h].append(uber_X_prices)
    airport_price_lists[h].append(uber_XL_prices)
    airport_price_lists[h].append(uber_ski_prices)
    
    #reassign ubers_lists
    uber_X_prices = []
    uber_ski_prices = []
    uber_XL_prices = []

Looking for [chromedriver 79.0.3945.36 mac64] driver in cache
File found in cache by path [/Users/janmichaelaustria/.wdm/drivers/chromedriver/79.0.3945.36/mac64/chromedriver]

In [111]:
#put back in the right frames, start with MHT
uber_col_names = ['Uber_X_Afternoon','Uber_XL_Afternoon','Uber_Ski_Afternoon']
for i in range(0,len(airport_price_lists[0])):
   #add to dataframe
    zips_MHT[uber_col_names[i]] = airport_price_lists[0][i]

In [112]:
zips_MHT.head()

,Unnamed: 0,Zip_Codes,Destination_Airport,Uber_X_Evening,Uber_XL_Evening,Uber_Ski_Evening,Uber_X_Morning,Uber_XL_Morning,Uber_Ski_Morning,Uber_X_Afternoon,Uber_XL_Afternoon,Uber_Ski_Afternoon
0,0,1430,MHT,$56.16,$66.86,$66.16,$55.91,$66.48,$65.91,$55.89,$66.45,$65.89
1,1,3071,MHT,$61.61,$98.63,$71.61,$61.75,$98.97,$71.75,$61.85,$99.08,$71.85
2,2,1431,MHT,$52.49,$65.25,$55.25,$52.15,$64.90,$54.90,$52.36,$65.12,$55.12
3,3,1420,MHT,$51.67,$61.67,$61.33,$51.97,$61.97,$61.75,$52.12,$62.12,$61.97
4,4,3048,MHT,$47.13,$75.15,$57.13,$47.92,$76.41,$57.92,$49.17,$78.43,$59.17

In [113]:
zips_MHT.to_csv('zips_MHT.csv')

In [114]:
#now put back into BOS
uber_col_names = ['Uber_X_Afternoon','Uber_XL_Afternoon','Uber_Ski_Afternoon']
for i in range(0,len(airport_price_lists[1])):
   #add to dataframe
    zip_codes_BOS[uber_col_names[i]] = airport_price_lists[1][i]

In [137]:
zip_codes_BOS.head()

,Zip_Codes,Destination_Airport,Uber_X_Evening,Uber_XL_Evening,Uber_Ski_Evening,Uber_X_Morning,Uber_XL_Morning,Uber_Ski_Morning,Uber_X_Afternoon,Uber_XL_Afternoon,Uber_Ski_Afternoon
0,01430,BOS,$88.56,$103.40,$98.56,$94.73,$110.25,$104.73,$91.40,$106.68,$101.40
1,03071,BOS,$104.57,$164.71,$114.57,$104.70,$164.94,$114.70,$105.06,$165.62,$115.06
2,01431,BOS,$89.93,$104.66,$94.66,$87.97,$102.60,$92.60,$90.11,$104.85,$94.85
3,01420,BOS,$77.42,$90.16,$87.42,NaN,NaN,NaN,$77.45,$90.20,$87.45
4,03048,BOS,$77.42,$90.16,$87.42,$95.45,$149.78,$105.45,$95.51,$149.89,$105.51

In [116]:
zip_codes_BOS.to_csv('zips_to_BOS.csv')

## Find distances
* MHT FIRST

In [191]:
driver = webdriver.Chrome(ChromeDriverManager().install())
#lets try uber first
map_quest = 'https://www.mapquest.com/directions'
#get the website
driver.get(map_quest)

#find element id

travel_times = []
distances = []


for i in range(0, len(zip_codes)):
    driver.implicitly_wait(4)
    starting = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[1]/div[1]/ul/li[1]/directions-route-stop/div/dnd-nodrag/ng-transclude/div/div[1]/div/input')
    time.sleep(1)
    starting.clear()
    starting.send_keys(zip_codes_BOS["Zip_Codes"][i])
    time.sleep(1)
    starting.send_keys(Keys.DOWN)
    starting.send_keys(Keys.ENTER)

    starting = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[1]/div[1]/ul/li[2]/directions-route-stop/div/dnd-nodrag/ng-transclude/div/div[1]/div/input')
    time.sleep(2)
    if i < 1:
        starting.clear()
        starting.send_keys('Manchester-Boston Regional Airport, 1 Airport Rd, Manchester, NH')
        time.sleep(1)
        starting.send_keys(Keys.DOWN)
        starting.send_keys(Keys.RETURN)
        time.sleep(1)
        #pull elements
        #time if first
        element = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[2]/div/div/div/route-info/div/div[2]/div[2]/span[1]')
        travel_times.append(element.text)
        element = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[2]/div/div/div/route-info/div/div[2]/div[2]/div')
        distances.append(element.text)
    else:
        #pull elements
        #time if first
        element = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[2]/div/div/div/route-info/div/div[2]/div[2]/span[1]')
        travel_times.append(element.text)
        element = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[2]/div/div/div/route-info/div/div[2]/div[2]/div')
        distances.append(element.text)

Looking for [chromedriver 79.0.3945.36 mac64] driver in cache
File found in cache by path [/Users/janmichaelaustria/.wdm/drivers/chromedriver/79.0.3945.36/mac64/chromedriver]

In [194]:
#put back int MHT fram
zips_MHT['Travel_Times'] = travel_times
zips_MHT['Distance'] = distances

In [197]:
zips_MHT.head()
zips_MHT.to_csv('zips_MHT.csv')

# Now Implement for Boston

In [206]:
driver = webdriver.Chrome(ChromeDriverManager().install())
#lets try uber first
map_quest = 'https://www.mapquest.com/directions'
#get the website
driver.get(map_quest)

#find element id

travel_times = []
distances = []


for i in range(0, len(zip_codes)):
    driver.implicitly_wait(4)
    starting = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[1]/div[1]/ul/li[1]/directions-route-stop/div/dnd-nodrag/ng-transclude/div/div[1]/div/input')
    time.sleep(1)
    starting.clear()
    starting.send_keys(zip_codes_BOS["Zip_Codes"][i])
    #time.sleep(1)
    starting.send_keys(Keys.DOWN)
    time.sleep(1)
    starting.send_keys(Keys.DOWN)
    starting.send_keys(Keys.ENTER)

    starting = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[1]/div[1]/ul/li[2]/directions-route-stop/div/dnd-nodrag/ng-transclude/div/div[1]/div/input')
    time.sleep(2)
    if i < 1:
        starting.clear()
        starting.send_keys('General Edward Lawrence Logan International Airport (BOS)')
        time.sleep(1)
        starting.send_keys(Keys.DOWN)
        time.sleep(1)
        starting.send_keys(Keys.RETURN)
        time.sleep(1)
        #pull elements
        #time if first
        element = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[2]/div/div/div/route-info/div/div[2]/div[2]/span[1]')
        travel_times.append(element.text)
        element = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[2]/div/div/div/route-info/div/div[2]/div[2]/div')
        distances.append(element.text)
    else:
        #pull elements
        #time if first
        element = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[2]/div/div/div/route-info/div/div[2]/div[2]/span[1]')
        travel_times.append(element.text)
        element = driver.find_element_by_xpath('//*[@id="primaryPanel"]/div[5]/div[3]/div/div/div[2]/div[1]/form/div[2]/div/div/div/route-info/div/div[2]/div[2]/div')
        distances.append(element.text)

Looking for [chromedriver 79.0.3945.36 mac64] driver in cache
File found in cache by path [/Users/janmichaelaustria/.wdm/drivers/chromedriver/79.0.3945.36/mac64/chromedriver]

In [208]:
#add to boston frame
zip_codes_BOS['Travel_Times'] = travel_times
zip_codes_BOS['Distance'] = distances
zip_codes_BOS.to_csv('zips_to_BOS.csv')

In [209]:
zip_codes_BOS.head()

,Zip_Codes,Destination_Airport,Uber_X_Evening,Uber_XL_Evening,Uber_Ski_Evening,Uber_X_Morning,Uber_XL_Morning,Uber_Ski_Morning,Uber_X_Afternoon,Uber_XL_Afternoon,Uber_Ski_Afternoon,Travel_Times,Distance
0,01430,BOS,$88.56,$103.40,$98.56,$94.73,$110.25,$104.73,$91.40,$106.68,$101.40,1hr 25min,66.6mi
1,03071,BOS,$104.57,$164.71,$114.57,$104.70,$164.94,$114.70,$105.06,$165.62,$115.06,1hr 40min,69.3mi
2,01431,BOS,$89.93,$104.66,$94.66,$87.97,$102.60,$92.60,$90.11,$104.85,$94.85,1hr 33min,64.6mi
3,01420,BOS,$77.42,$90.16,$87.42,NaN,NaN,NaN,$77.45,$90.20,$87.45,1hr 10min,54.6mi
4,03048,BOS,$77.42,$90.16,$87.42,$95.45,$149.78,$105.45,$95.51,$149.89,$105.51,1hr 36min,65.1mi

# Final Cleaning

In [213]:
zips_MHT = zips_MHT.iloc[:,1:]

In [219]:
#pad zips
zips_MHT['Zip_Codes'] = zips_MHT['Zip_Codes'].apply(lambda x: str(0)+str(x))

In [220]:
zips_MHT.head()

,Zip_Codes,Destination_Airport,Uber_X_Evening,Uber_XL_Evening,Uber_Ski_Evening,Uber_X_Morning,Uber_XL_Morning,Uber_Ski_Morning,Uber_X_Afternoon,Uber_XL_Afternoon,Uber_Ski_Afternoon,Travel_Times,Distance
0,01430,MHT,$56.16,$66.86,$66.16,$55.91,$66.48,$65.91,$55.89,$66.45,$65.89,1hr 28min,73.2mi
1,03071,MHT,$61.61,$98.63,$71.61,$61.75,$98.97,$71.75,$61.85,$99.08,$71.85,53min,36.6mi
2,01431,MHT,$52.49,$65.25,$55.25,$52.15,$64.90,$54.90,$52.36,$65.12,$55.12,56min,34.9mi
3,01420,MHT,$51.67,$61.67,$61.33,$51.97,$61.97,$61.75,$52.12,$62.12,$61.97,1hr 5min,39.6mi
4,03048,MHT,$47.13,$75.15,$57.13,$47.92,$76.41,$57.92,$49.17,$78.43,$59.17,51min,35.5mi

In [221]:
zip_codes_BOS.head()

,Zip_Codes,Destination_Airport,Uber_X_Evening,Uber_XL_Evening,Uber_Ski_Evening,Uber_X_Morning,Uber_XL_Morning,Uber_Ski_Morning,Uber_X_Afternoon,Uber_XL_Afternoon,Uber_Ski_Afternoon,Travel_Times,Distance
0,01430,BOS,$88.56,$103.40,$98.56,$94.73,$110.25,$104.73,$91.40,$106.68,$101.40,1hr 25min,66.6mi
1,03071,BOS,$104.57,$164.71,$114.57,$104.70,$164.94,$114.70,$105.06,$165.62,$115.06,1hr 40min,69.3mi
2,01431,BOS,$89.93,$104.66,$94.66,$87.97,$102.60,$92.60,$90.11,$104.85,$94.85,1hr 33min,64.6mi
3,01420,BOS,$77.42,$90.16,$87.42,NaN,NaN,NaN,$77.45,$90.20,$87.45,1hr 10min,54.6mi
4,03048,BOS,$77.42,$90.16,$87.42,$95.45,$149.78,$105.45,$95.51,$149.89,$105.51,1hr 36min,65.1mi

Stack frames

In [223]:
final_fram = pd.concat([zips_MHT,zip_codes_BOS])

In [225]:
final_fram.tail()

,Zip_Codes,Destination_Airport,Uber_X_Evening,Uber_XL_Evening,Uber_Ski_Evening,Uber_X_Morning,Uber_XL_Morning,Uber_Ski_Morning,Uber_X_Afternoon,Uber_XL_Afternoon,Uber_Ski_Afternoon,Travel_Times,Distance
72,01969,BOS,$41.87,$54.07,$44.07,NaN,NaN,NaN,$54.13,$66.98,$56.98,34min,16.8mi
73,01950,BOS,$46.58,$59.03,$49.03,$54.94,$67.83,$57.83,$55.87,$68.81,$58.81,52min,36.0mi
74,03874,BOS,$68.67,$107.74,$78.67,$79.43,$122.08,$89.43,$79.46,$122.13,$89.46,57min,41.9mi
75,01952,BOS,$49.88,$62.50,$52.50,$58.09,$71.15,$61.15,$59.15,$72.26,$62.26,56min,40.3mi
76,01951,BOS,$49.29,$61.88,$51.88,$57.72,$70.76,$60.76,$58.77,$71.86,$61.86,56min,37.9mi

# save the file

In [228]:
len(final_fram['Zip_Codes'].unique())

77

In [229]:
final_fram.head()

,Zip_Codes,Destination_Airport,Uber_X_Evening,Uber_XL_Evening,Uber_Ski_Evening,Uber_X_Morning,Uber_XL_Morning,Uber_Ski_Morning,Uber_X_Afternoon,Uber_XL_Afternoon,Uber_Ski_Afternoon,Travel_Times,Distance
0,01430,MHT,$56.16,$66.86,$66.16,$55.91,$66.48,$65.91,$55.89,$66.45,$65.89,1hr 28min,73.2mi
1,03071,MHT,$61.61,$98.63,$71.61,$61.75,$98.97,$71.75,$61.85,$99.08,$71.85,53min,36.6mi
2,01431,MHT,$52.49,$65.25,$55.25,$52.15,$64.90,$54.90,$52.36,$65.12,$55.12,56min,34.9mi
3,01420,MHT,$51.67,$61.67,$61.33,$51.97,$61.97,$61.75,$52.12,$62.12,$61.97,1hr 5min,39.6mi
4,03048,MHT,$47.13,$75.15,$57.13,$47.92,$76.41,$57.92,$49.17,$78.43,$59.17,51min,35.5mi

In [230]:
final_fram.to_csv('BOS_MHT_uber_fars_distances_miles.csv')